<div class="row post-comment-form" id="comment-form">
    <%= bootstrap_form_for Comment.new, :url => post_comment_reply_path(:post_id => @post.id) do |f| %>
          <%= f.text_area :body%>
          <%= f.submit 'Post', class: 'btn btn-default pull-right' %>
    <% end %>
</div>